#logo-container {
	margin-top: 3px;
	margin-left: 5px;
}

#company-logo {
	width: 40px;
	margin-right: 5px;
}

#crud {
	margin-top: 20px;
}

#frmApplicant {
	margin-top: 25px;
}

#tButtons {
	margin-top: 50px;
}